<template>
  <div>
    <div class="row">
      <div class="input-group flatpickr">
        <flat-pickr placeholder="Escolha uma data/hora" class="input-group-field" v-model="dueDate" :config="dateTimeConfig"/>        
      </div>
    </div>    
    <p>Repetir: <input type="checkbox" id="checkbox" v-model="isLoop"></p>  
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

const Portuguese = require('flatpickr/dist/l10n/pt.js').pt

export default {
  name: 'config-page',
  data () {
    return {
      dateTimeConfig: {
        enableTime: true,
        dateFormat: this.$store.state.Config.dateFormatFlatpickr,
        locale: Portuguese
      }
    }
  },
  computed: {
    isLoop: {
      get: function () {
        return this.$store.state.Config.loop
      },

      set: function (newVal) {
        console.log(newVal)
        this.$store.commit('Config/setLoop', (!newVal || /^\s*$/.test(newVal)) && (!newVal || newVal.length === 0) ? newVal : null)
      }
    },
    dueDate: {
      get: function () {
        return this.$store.state.Config.dueDate
      },
      set: function (newVal) {
        this.$store.commit('Config/setDueDate', newVal)
      }
    },
    dueTime: {
      get: function () {
        return this.$store.state.Config.dueTime
      },
      set: function (newVal) {
        this.$store.commit('Config/setDueTime', newVal)
      }
    }
  },
  components: {
    flatPickr
  }
}
</script>

<style lang="scss" scoped>
  
</style>
