<template>
    <div>
        <span v-if="days > 0">
            <span class="digit">{{ days | two_digits }}</span>
            <span class="text">:</span>
        </span>
        <span v-if="hours > 0">
            <span class="digit">{{ hours | two_digits }}</span>
            <span class="text">:</span>
        </span>
        <span v-if="minutes > 0">
            <span class="digit">{{ minutes | two_digits }}</span>
            <span class="text">:</span>
        </span>
        <span v-if="seconds > 0 || minutes > 0">
            <span class="digit">{{ seconds | two_digits }}</span>
            <span class="text"></span>
        </span>
    </div>
</template>
<script>
import Vue from 'vue'

Vue.filter('two_digits', function (value) {
  if (value.toString().length <= 1) {
    return '0' + value.toString()
  }
  return value.toString()
})

export default {
  props: {
    date: null,
    textSize: null,
    digitsSize: null
  },
  data: function () {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      event: this.date
    }
  },
  computed: {
    // using computed to take care of the calculation per the doc
    calculatedDate: function () {
      /* eslint-disable */
      return this.event = Math.trunc(Date.parse(this.event) / 1000)
    },
    seconds: function () {
      /* eslint-disable */
      return Math.abs((this.calculatedDate - this.now) % 60)
    },
    minutes: function () {
      /* eslint-disable */
      return Math.abs(Math.trunc((this.calculatedDate - this.now) / 60) % 60)
    },
    hours: function () {
      /* eslint-disable */
      return Math.abs(Math.trunc((this.calculatedDate - this.now) / 60 / 60) % 24)
    },
    days: function () {
      /* eslint-disable */
      return Math.abs(Math.trunc((this.calculatedDate - this.now) / 60 / 60 / 24))
    }
  },

  // new ready function
  mounted: function () {
    window.setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000)
    }, 1000)
  }
}
</script>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);
.block {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.text {
    color: slategray;    
    font-family: 'Roboto Condensed', serif;
    font-weight: 400;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
}
.digit {
    color: darkgreen;    
    font-weight: 100;
    font-family: 'Roboto', serif;
    margin: 10px;
    text-align: center;
}
</style>