<template>
  <div>
    Countdown Timer App
  </div>
</template>

<script>
  export default {
    name: 'landing-page'
  }
</script>

<style scoped>
  /* #wrapper {
    padding: 1.5rem;
  } */
</style>