<template>
  <div>
    <div class="clearfix">
      <button @click="triggerFileUpload" class="button fa fa-plus small float-right" aria-hidden="true"></button>
      <input @change="handlePhotoUpload" ref="photoUpload" type="file" multiple class="hide" accept="image/*">
    </div>
    
    <div class="table-wrapper">
      <table class="hover">
        <thead>
          <tr>
            <th width="10%">Arquivo</th>
            <th width="80%">Nome</th>
            <th width="10%">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(photo, $index) in photos" :key="photo">            
            <td><img v-bind:src="photo"/></td>
            <td><span v-bind:title="paths[$index].path">{{ paths[$index].name }}</span></td>
            <td style="text-align: center;">
              <button @click="removePhoto($index)" class="button fa fa-times small" aria-hidden="true"></button>
            </td>
          </tr>
          <tr v-if="photos.length <= 0">
            <td colspan="3">Sem arquivos para exibir.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'media-selection',
  computed: {
    photos () {
      return this.$store.state.Media.photos
    },
    paths () {
      return this.$store.state.Media.paths
    }
  },
  methods: {
    triggerFileUpload: function () {
      this.$refs.photoUpload.click()
    },
    handlePhotoUpload: function (e) {
      var self = this
      var files = e.target.files

      for (let i = 0; i < files.length; i++) {
        let reader = new FileReader()
        reader.onloadend = function (e) {
          self.$store.commit('Media/addPhoto', { photo: e.target.result, path: {name: files[i].name, path: files[i].path} })
        }

        reader.readAsDataURL(files[i])
      }
    },
    removePhoto: function (index) {
      this.$store.commit('Media/removePhoto', index)
    }
  }
}
</script>

<style scoped>
  .table-wrapper {
    max-height: 400px;
    overflow: auto;
  }
</style>
