<template>
  <div>
    <span>Preview</span>
    <div v-if="dueDate != null">
      <div>
        <countdown v-bind:date="dateString" textSize="2" digitsSize="4"></countdown>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import * as moment from 'moment'
import Countdown from './Countdown'

export default {
  name: 'preview',

  computed: {
    dueDate: {
      get: function () {
        var mm = moment(this.$store.state.Config.dueDate, this.$store.state.Config.dateFormatMoment)
        return  mm.isValid() ? mm : null
      }
    },

    dateString: {
      get: function () {
        return this.dueDate
      }
    }
  },

  components: {Countdown}
}
</script>

<style scoped>

</style>
