<template>
  <ul class="menu vertical">
  
    <router-link tag="li" to="/" active-class="is-active" exact>
      <a>Home</a>
    </router-link>
    
    <router-link tag="li" to="/config" active-class="is-active">
      <a>Configurações</a>
    </router-link>
    
    <router-link tag="li" to="/media" active-class="is-active">
      <a>Mídia</a>
    </router-link>
    

    <router-link tag="li" to="/preview" active-class="is-active">
      <a>Visualizar</a>
    </router-link>
    
    <router-link tag="li" to="/live" active-class="is-active">
      <a>Ao Vivo</a>
    </router-link>
  </ul>
</template>

<script>
export default {
  name: 'menu'
}
</script>

<style scoped>

</style>
