<template>
  <div class="flex items-center justify-center vh-100">
    <div class="w-75 center ba b--black-10">
      <div class="pv2 tc bb b--black-10">
        <h1 class="ma0 f5 normal">Compose New Tweet</h1>
      </div>
      <div class="bg-near-white pa3">
        <textarea name="tweet" rows="3" class="w-100 br2 ba b--black-10 pa2" placeholder="Write your tweet here" v-model="tweet"></textarea>

        <div v-if="photoHasBeenUploaded" class="bg-black-10 pa2 flex">
          <figure class="ma0 relative flex items-center justify-center" v-for="(photo, $index) in photos" :key="photo">
            <button @click="removePhoto($index)" class="button-reset pointer dim bn bg-black h2 w2 br-100 white flex items-center justify-center absolute absolute--fill-l center">
              <i class="material-icons f5">close</i>
            </button>
            <img v-bind:src="photo" class="h3 w3" alt="Uploaded photo">
          </figure>
        </div>
        <input @change="handlePhotoUpload" ref="photoUpload" type="file" class="hide">

        <div class="mt3 flex justify-between">
          <div>
            <button @click="triggerFileUpload" class="button-reset flex items-center br2 bn bg-transparent blue hover-bg-black-10 pointer">
              <i class="material-icons f3">photo_camera</i>
            </button>
          </div>
          <div class="flex items-center">
            <span class="mr3 black-70" :class="{ 'dark-red': underTwentyMark, 'light-red': underTenMark }">{{ charactersRemaining }}</span>
            <button :disabled="tweetIsOutOfRange" class="button-reset bg-blue bn white f6 fw5 pv2 ph3 br2 pointer dim">Tweet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const MAX_TWEET_LENGTH = 140

export default {
  name: 'hello',
  data () {
    return {
      tweet: '',
      photos: []
    }
  },
  computed: {
    tweetIsOutOfRange: function () {
      return this.charactersRemaining === MAX_TWEET_LENGTH ||
             this.charactersRemaining < 0
    },

    charactersRemaining: function () {
      return MAX_TWEET_LENGTH - this.tweet.length
    },

    underTwentyMark: function () {
      return this.charactersRemaining <= 20 &&
        this.charactersRemaining > 10
    },

    underTenMark: function () {
      return this.charactersRemaining <= 10
    },

    photoHasBeenUploaded: function () {
      return this.photos.length > 0
    }
  },
  methods: {
    triggerFileUpload: function () {
      this.$refs.photoUpload.click()
    },
    handlePhotoUpload: function (e) {
      var self = this
      var files = e.target.files

      for (let i = 0; i < files.length; i++) {
        let reader = new FileReader()
        reader.onloadend = function (e) {
          self.photos.push(e.target.result)
        }

        reader.readAsDataURL(files[i])
      }
    },
    removePhoto: function (index) {
      this.photos.splice(index, 1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
</style>