<template>
  <div id="app" class="grid-x">
    <aside class="medium-3 cell side-m">
      <side-menu class="menu-list"></side-menu>
    </aside>
    <section class="medium-9 cell content-view">
      <router-view></router-view>
    </section>
  </div>
</template>

<script>
  import SideMenu from './components/SideMenu'
  export default {
    name: 'electron-countdown-vue',
    components: {SideMenu}
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  $fa-font-path: "~font-awesome/fonts";
  @import "~font-awesome/scss/font-awesome";

  @include foundation-everything;
  .side-m {
    height: 100vh;
    background-color: $navy;
  }

  .content-view {
    padding: 1rem;
  }
</style>
